## Profile
SPRING_PROFILES_ACTIVE=dev

## PostgreSQL
POSTGRES_USER=cartumio_user
POSTGRES_PASSWORD=cartumio_password
POSTGRES_DB=cartumio_gate
POSTGRES_HOSTNAME=postgres
POSTGRES_PORT=5432

## Brevo
BREVO_API_KEY=api-key-secret
BREVO_API_BASE_URL=https://api.brevo.com/v3
BREVO_DEFAULT_SENDER_NAME=Sender
BREVO_DEFAULT_SENDER_EMAIL=sender@dominio.com

## Origin
ORIGIN_BASE_URL=http://localhost:3000

## RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/