## Profile
SPRING_PROFILES_ACTIVE=dev

## PostgreSQL
POSTGRES_USER=cartumio_user
POSTGRES_PASSWORD=cartumio_password
POSTGRES_DB=cartumio_gate
POSTGRES_HOSTNAME=localhost
POSTGRES_PORT=5432

## Brevo
BREVO_API_KEY=api-key-secret
BREVO_API_BASE_URL=https://api.brevo.com/v3
BREVO_DEFAULT_SENDER_NAME=Sender
BREVO_DEFAULT_SENDER_EMAIL=sender@dominio.com