## Profile
SPRING_PROFILES_ACTIVE=dev

## PostgreSQL
POSTGRES_USER=cartumio_user
POSTGRES_PASSWORD=cartumio_password
POSTGRES_DB=cartumio_gate
POSTGRES_HOSTNAME=postgres-cartumio-gate

## Brevo
BREVO_API_KEY=api-key-secret
BREVO_API_BASE_URL=https://api.brevo.com/v3